#topics-wrapper
  .topics-admin
    .top-buttons
      .export-update-wrapper
      a.btn.btn-success.btn-block.new(href=urlBuilder.for('admin.topics.create', {forum: forum.name}))
        span.glyphicon.glyphicon-plus
        = ' ' + t('admin-topics.list.add-topic')
    .well.well-lg.clearfix
      .row
        .col-md-6.col-xs-12.text-center
          .input-group.input-group-md.busqueda-wrapper
            input.form-control(type='text', name='busqueda', placeholder='#{t("admin-topics.list.search.placeholder")}', autofocus, maxlength='100')
        .col-md-2.col-xs-12.text-center
          button.input-group-addon.buscar-tema
            i.glyphicon.glyphicon-search
        .col-md-4.col-xs-12.text-center
          .btn-group
            span.sort-label.pull-left=t('admin-topics.list.sort')
            button.btn.btn-primary.sort(data-sort='topic-date')
              span.glyphicon.glyphicon-time
            button.btn.btn-primary.sort.por-nombre(data-sort='topic-title')
              span='A - Z'
      .row.row-filtros
        .col-md-4.col-xs-12
          .input-group.input-group-md
            ='Año: '
            select(name='anio')
              option(value="") Todos
              - each anio in uniqAttrs.anio
                - if (anio != '')
                  option(value="#{anio}") #{anio}
        .col-md-4.col-xs-12
          .input-group.input-group-md
            ='Barrio: '
            select(name='barrio')
              option(value="") Todos
              - each barrio in uniqAttrs.barrio
                option(value="#{barrio}") #{toTitleCase(barrio.replace(/-/g,' '))}
        .col-md-4.col-xs-12
          .input-group.input-group-md
            ='Estado: '
            select(name='state')
              option(value="") Todos
              - each state in uniqAttrs.state
                option(value="#{state}") #{toTitleCase(state)}
    #topic-list.list.list-group.col-xs-12
      - each topic in topics
        a.list-group-item(href=urlBuilder.for('admin.topics.id', {id: topic.id, forum: forum.name}), rel="noopener noreferer", target="_blank", data-topicid=topic.id)
          .topic-buttons.pull-right
            button.btn.btn-default.ver-proyecto(data-topic-url=topic.url)
              span.glyphicon.glyphicon-eye-open
            button.btn.btn-default
              span.glyphicon.glyphicon-pencil
          h4.topic-title=topic.mediaTitle
            span.text=topic.topicId
          - if (topic.author)
            span.glyphicon.glyphicon-user
            span.text=topic.author
          - if (topic.closingAt)
            - var date = new Date(topic.closingAt)
            - var relative = moment(date).fromNow()
            - var when = (date < Date.now()) ? 'past' : 'future'
            span.glyphicon.glyphicon-time
            span.text=t('admin-topics.list.close.' + when) + ' ' + relative
          .topic-multi-tags
            span.glyphicon.glyphicon-tag
            span.text.topic-tag=topic.tag.name
            span.text.topic-tags=topic.tags.map(toTitleCase).join(', ')
          span.topic-date.hide=topic.createdAt
          .topic-status-data
            - if (topic.attrs && topic.attrs.anio)
              span.placa.text=topic.attrs.anio
            - if (topic.attrs && topic.attrs.state)
              span.placa.text=topic.attrs && toTitleCase(topic.attrs.state.replace(/-/g,' '))
    .topics-pagination
