#topics-wrapper
  .topics-admin
    .password-settings
      .heading
        h2= 'Configuraciones'
      form.form(action=form.action, method='post', role='form', autovalidate, autosubmit)
        ul.form-messages
        .container-fluid  
          .row
            .col-sm-6    
              h5= 'Estados de la plataforma'
              .form-group
                label.switch= 'Estado de subida de propuestas'
                  input.form(
                    type='checkbox',
                    data-name='propuestasAbiertas',
                    id='checkboxProp'
                  )
                  .slider.round
              .form-group.openProposal
                label= 'Titulo sección propuestas'
                input.form-control.form(
                  type='text',
                  data-name='propuestasTexto'
                )
              .form-group
                label.switch= 'Mostrar informacion sobre encuentros'
                  input.form(
                    type='checkbox',
                    data-name='mostrarInfoEncuentros',
                    data-type='descubrible',
                    data-link='linkMetting',
                    id='checkboxMeeting',
                  )
                  .slider.round
              .form-group.linkMetting
                label= 'Link de formulario para encuentros'
                input.form-control.form(
                  type='text',
                  data-name='linkFormEncuentro',
                  data-type='ocultable',
                  validate='url',
                )
                
            .col-sm-6
              h5="Votación"
              .form-group.state-votation.row
                .col-sm-4
                  label= 'Pre votación'
                    input.form.pseudo-radio(
                      type='checkbox',
                      data-name="preVotacion",
                      id='preVot',
                    )
                .col-sm-4  
                  label= 'votación finalizada'
                    input.form.pseudo-radio(
                      type='checkbox',
                      data-name="votacionFinalizada",
                      id='postVot',
                    )
                .col-sm-4.last
                  label= 'seguimiento normal'
                    input.form.pseudo-radio(
                      type='checkbox',
                      data-name="seguimientoNormal",
                      id='finishVot',
                    )
              .form-group.hiden
                label= 'Filtros de años'
                input.form-control.form(
                  type='text',
                  data-name='filterYear',
                )
              .form-group
                label= 'Filtros de años'
                .combobox
                  .comboboxChips
                    input.form-control.form(
                     type='number',
                     max='9999'
                      )
              .form-group
                label.switch= 'Mostrar sección Info votación'
                  input.form(
                    type='checkbox',
                    data-name='mostrarPuntosVotacion',
                    id='checkboxPoints'
                  )
                  .slider.round
                  
              .form-group
                label.switch= 'Mostrar link de votación'
                  input.form(
                    type='checkbox',
                    data-name='mostrarLinkVotaciones',
                    data-type='descubrible',
                    data-link='linkVotation',
                    id='checkboxVot',
                  )
                  .slider.round
              .form-group.linkVotation
                label= 'Link para votaciones'
                input.form-control.form(
                  type='text',
                  data-name='linkVotaciones',
                  validate='url',
                )
          .row  
            .col-sm-6
              
        .form-group: button.btn.btn-success.btn-block.btn-lg= t('settings.save')
